.NavigationItem {
  list-style: none;
  padding: 10px;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

/* .NavigationItem:hover {
  background-color: rgba(240, 240, 240, 0.815);
} */
