.NavigationItems {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  /* width: 40%; */
  margin: 0 auto;
}

.NavigationItems a {
  text-decoration: none;
  color: black;
}

.NavigationItems a:hover,
.NavigationItems a:active {
  color: blue;
}
